<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="BotConfigs" type="Bazger.Bots.VkBot_v2.Config.Configs, Bazger.Bots.VkBot_v2" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <BotConfigs baseDir="D:\My\Documents\VkBot">
    <connectSettings login="" password=""/>
    <searchResultsScanner linksFileName ="SearchLinks.json" resultsFileName="SearchResults.json" toRun="false"/>
    <userProfileScanner profilePhotosCount="3" galleryPhotosCount="3" postsCount="0" loadFromBackup="true"/>
  </BotConfigs>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ABSOLUTE} [%level] - %message%newline"/>
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file  type="log4net.Util.PatternString" value="D:\My\Documents\VkBot\Logs\%utcdate{yyyy-MM-dd}.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <staticLogFileName value="false" />
      <maxSizeRollBackups value="1000" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%level] - %message%newline" />
      </layout>
    </appender>
    <logger name="ConsoleLogger">
      <level value="INFO" />
      <appender-ref ref="ConsoleAppender" />
    </logger>
    <logger name="FileLogger">
      <level value="INFO" />
      <appender-ref ref="RollingFileAppender" />
    </logger>
    <logger name="AllLoggers">
      <level value="INFO" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="RollingFileAppender" />
    </logger>
  </log4net>
</configuration>